<%- include('partials/header'); -%>

<main>

    
  
  
    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->
  
    <div class="container marketing py-5"  style="font-family: 'Poppins', sans-serif;">
  
      
  
  
      <hr class="featurette-divider">
  
      <div class="row featurette py-5 d-flex">
        <div class="col-md-7 d-flex-column justify-content-center">
          <h2 class="featurette-heading fw-normal lh-1 text-center"><br><br><br><br><br>Task Management </h2>
          <p class="lead text-center">Stay organized and focused with our intuitive task management feature. Easily create, prioritize, and track your tasks, ensuring nothing falls through the cracks.</p>
        </div>
        <div class="col-md-5">
            <img src="images/task-management.png" class="img-fluid" width="500" height="500" alt="">
        </div>
      </div>
  
      <hr class="featurette-divider">
  
      <div class="row featurette">
        <div class="col-md-7 order-md-2">
          <h2 class="featurette-heading fw-normal lh-1"><br><br>Time Tracking </h2>
          <p class="lead"> Gain valuable insights into how you spend your time with our time tracking feature. Monitor your productivity, set goals, and make informed decisions to optimize your workflow.</p>
        </div>
        <div class="col-md-5 order-md-1">
          
            <img src="images/time-tracking.png" class="img-fluid" width="500" height="500" alt="">
        </div>
      </div>
  
      <hr class="featurette-divider">
  
      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading fw-normal lh-1"><br><br><br><br><br>Collaboration Tools </h2>
          <p class="lead">Collaborate seamlessly with your team or classmates using our built-in collaboration tools. Share files, assign tasks, and communicate effectively, all within the Workify platform.</p>
        </div>
        <div class="col-md-5">
            <img src="images/collaboration.png" class="img-fluid" width="500" height="500" alt="">
        </div>
      </div>

      <div class="row featurette">
        <div class="col-md-7 order-md-2">
          <h2 class="featurette-heading fw-normal lh-1"><br><br>Productivity Analytics</h2>
          <p class="lead"> Harness the power of data-driven insights with our productivity analytics feature. Analyze your productivity patterns, identify areas for improvement, and make data-backed decisions for maximum efficiency.</p>
        </div>
        <div class="col-md-5 order-md-1">
          
            <img src="images/prodanalytics.png" class="img-fluid" width="500" height="500" alt="">
        </div>
      </div>

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading fw-normal lh-1"><br><br><br><br><br>Gamification Elements </h2>
          <p class="lead">Collaborate seamlessly with your team or classmates using our built-in collaboration tools. Share files, assign tasks, and communicate effectively, all within the Workify platform.</p>
        </div>
        <div class="col-md-5">
            <img src="images/gamified.png" class="img-fluid" width="500" height="500" alt="">
        </div>
      </div>
  
      <hr class="featurette-divider">

  
    </div>
  </main>











<%- include('partials/footer'); -%>