<%- include('partials/header'); -%>

<div class="container py-5" style="font-family: 'Poppins', sans-serif;">
    <header>
      
  
      <div class="pricing-header p-3 pb-md-4 mx-auto text-center py-5">
        <h1 class="display-4 fw-normal text-body-emphasis py-5">Choose Your Team's Plan</h1>
        <p class="fs-5 text-body-secondary">"Unlock the power of productivity with our flexible pricing plans. Choose the package that suits your needs and maximize your efficiency without breaking the bank. Experience the value of Workify's productivity-enhancing solutions at an affordable price."</p>
      </div>
    </header>
  
    <main>
      <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
        <div class="col">
          <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3 text-bg-info">
              <h4 class="my-0 fw-normal">Free</h4>
            </div>
            <div class="card-body ">
              <h1 class="card-title pricing-card-title">&#8377;  0<small class="text-body-secondary fw-light">/mo</small></h1>
              <ul class="list-unstyled mt-3 mb-4 lh-lg">
                <li>Time tracking and task management features</li>
                <li>Basic analytics and reporting tools</li>
                <li>Limited access to rewards program</li>
             
              </ul>
              <button type="button" class="w-100 btn btn-lg btn-success">Sign up for free</button>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3 text-bg-info">
              <h4 class="my-0 fw-normal">Standard</h4>
            </div>
            <div class="card-body">
              <h1 class="card-title pricing-card-title">&#8377; 599<small class="text-body-secondary fw-light">/mo</small></h1>
              <ul class="list-unstyled mt-3 mb-4 lh-lg">
                <li>Customizable dashboard and user interface</li>
                <li>Advanced analytics and reporting tools</li>
                <li>Access to an exclusive rewards program</li>
             
              </ul>
              <button type="button" class="w-100 btn btn-lg btn-success">Activate Plan</button>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card mb-4 rounded-3 shadow-sm ">
            <div class="card-header py-3 text-bg-info ">
              <h4 class="my-0 fw-normal">Pro</h4>
            </div>
            <div class="card-body">
              <h1 class="card-title pricing-card-title">&#8377; 1299<small class="text-body-secondary fw-light">/mo</small></h1>
              <ul class="list-unstyled mt-3 mb-4 lh-lg">
                <li>Advanced project management tools</li>
                <li>Integration with third-party apps and tools</li>
                <li>Priority customer support</li>
              </ul>
              <button type="button" class="w-100 btn btn-lg btn-success">Activate Plan</button>
            </div>
          </div>
        </div>
      </div>
  
      
  </div>






<%- include('partials/footer'); -%>