<%- include('partials/header'); -%>



<div class="container my-5 py-5" style="font-family: 'Poppins', sans-serif;">
    <div class="p-5 text-center bg-body-tertiary rounded-3">
      <h1 class="text-body-emphasis my-5">Meet our team</h1>
      <p class="lead ">
        We are a group of ambitious individuals from diverse backgrounds, united by our passion for productivity and technology. From aspiring engineers to aspiring entrepreneurs, our team members bring fresh perspectives and innovative ideas to the table.
      </p>
    </div>
  </div>

<div class="container marketing py-5">

    <!-- Three columns of text below the carousel -->
    <div class="row ">
      <div class="col-lg-4 py-5 ">
        <img src="/images/jatin.png" class="img-fluid" width="180" height="180" alt="">
        <h2 class="fw-normal">Jatin Tilwani</h2>
        <p>Web-Developer <br> IT Undergraduate MUJ'26</p>
        <p><a class="btn btn-secondary" href="https://www.linkedin.com/in/jatin-tilwani-470352247/"> LinkedIn</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4 py-5">
        <img src="/images/suraj.png" class=" img-fluid rounded-circle" width="180" height="180" alt="">
        <h2 class="fw-normal">Suraj Kumar</h2>
        <p>AI/ML Specialist <br> CSE Undergraduate MUJ'26</p>
        <p><a class="btn btn-secondary" href="https://www.linkedin.com/in/surajkumarkonda/">LinkedIn</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4 py-5">
        <img src="/images/rishika.png" class=" img-fluid rounded-circle" width="180" height="180" alt="">
        <h2 class="fw-normal">Rishika Bhagawati</h2>
        <p> UI/UX Designer <br> IT Undergraduate MUJ'26</p>
        <p><a class="btn btn-secondary" href="https://www.linkedin.com/in/rishika-bhagawati-b0904a272/">LinkedIn</a></p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->



  </div>








<%- include('partials/footer'); -%>